.finish{text-align: center;}

.para{
    font-size:1.5rem;
    font-weight: normal;
}
h2{
    text-align: center;
    font-weight:bolder;
    font-style: italic;
    color: midnightblue;
    background-color:cornflowerblue;
    border-radius: 12px;
}

b{
    color: red;
}

.click{
    border-radius: 10px;
    background-color: rgb(3, 3, 46);
    border-color:rgb(3, 3, 46);
    color: white;
    padding-left:20px;
    padding-right:20px;
    padding-top:5px;
    padding-bottom:5px;
    font-weight: bold;
  }

  .score{
    color: midnightblue;
    background-color:limegreen;  
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
    
    border-radius: 10px;
   
}