
<div class="startbutton">
    <h1>Are you ready to Start...</h1><br>
    
</div>
<div class="box">
    <div class="head">
        <h4><b>No of Questions</b>: {{TotalnoOfqsn}}</h4>
        <h4><b>Time</b>: {{time}} minutes</h4>
    </div>
    
  
    <h2 style="text-align:center">Instructions</h2>
    <p class="para">
        1. Read carefully and answer the questions.<br>
        2. There will be a submit Option to complete the Quiz.<br>
        3. Submit option will be enabled on last Question of Quiz.<br>
        4. The total score for the quiz is based on your responses to all questions.<br>
        5. It auto submit on completion of time.<br>
        6.On selecting options it auto saves the given answers.<br>
    </p>
</div>

<div class="startbutton">
    <button type="button"  class="click" id="submitOption" routerLink="/start">Start</button>
</div>
